//Brand colors
$primary: #003D4F;
$secondary: #EBF2F4;
$sucess: #008A40;

//Text colors
$text-primary: #595959;
$text-title: #4A4A4A;
$text-secondary: #939393;
$text-white: #FFFFFF;
$text-attention: #B3003C;

//sidebar/layout
$sidebar-active-bg: #EBF2F4;
$surface-white: #FFFFFF;
$page-background: #F8F9FA;

//widget colors
$tips-primary: #93136B;
$tips-tag: #FFEFF7;

$system-primary: #34565F;
$system-tag: #D6F1F8;

$time-report-text: #39378E;
$time-report-progress: #FEAC31;

//font-weights
$font-weight-secondary: 600;